html {
    font-family: "Shantell Sans", cursive;
}
body {
    background: linear-gradient(#6C1E6C, #AF505C);
    background-repeat: no-repeat;
    height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 60vw;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
}
.top {
    font-size: 1.5rem;
}
.write {
    width: 80vw;
    min-height: 40px;
    border: transparent;
}
.btn {
    width: 80vw;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px;
    font-size: 0.9rem;
    margin-left: 10px;
}
li {
    list-style-type: none;
}
.gym {
    color: rgb(200, 164, 32)
}
.work {
    color: rgb(245, 0, 0);
}
.hobby {
    color: rgb(5, 5, 147)
}

@media (min-width: 400px) {
    .btn {
        max-width: 350px;
}
    .write {
        max-width: 450px;
    }
}